<footer class="p-4 text-xs mx-auto max-w-3xl text-gray-500 text-center">
  <p>
    {new Date().getFullYear()} - Leeboor | <a
      href="https://sznm.dev"
      rel="noopener noreferrer"
      target="_blank">sznm.dev</a
    >
  </p>
  <p>
    Powered by <a
      href="https://api-harilibur.vercel.app/"
      rel="noopener noreferrer"
      target="_blank">API Hari Libur</a>
  </p>
  <p>
    Inspired from <a
      href="https://tanggalmerah.vercel.app"
      rel="noopener noreferrer"
      target="_blank">tanggalmerah.vercel.app</a
    > by <a href="https://x.com/r__h_n">r__h_n</a>
  </p>
</footer>
