---
import Header from "./components/Header.astro";
import Footer from "./components/Footer.astro";

import "@/styles/globals.css";
import "@/styles/index.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Leeboor</title>
  </head>
  <body class="bg-red-100">
    <Header />
    <main
      class="p-4 mx-auto max-w-3xl flex flex-col min-h-[75dvh] justify-center"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
