---
import { cn } from "@/styles/utils";

const { className } = Astro.props;
---

<h1
  class={cn(
    "text-3xl scroll-m-20 font-extrabold tracking-tight lg:text-4xl",
    className
  )}
>
  <slot />
</h1>
